<%= if assigns[:current_user] do %>
  <%= nav_link (assigns[:socket] || assigns[:conn]), "Upload", LiveBooruWeb.UploadLive %>
  <%= live_redirect("Settings", to: Routes.user_settings_path((assigns[:socket] || assigns[:conn]), :edit)) %>
  <%= link "Log out", to: Routes.user_session_path((assigns[:socket] || assigns[:conn]), :delete), method: :delete %>
<% else %>
  <%= nav_link (assigns[:socket] || assigns[:conn]), "Register", LiveBooruWeb.SignUpLive %>
  <%= nav_link (assigns[:socket] || assigns[:conn]), "Log in", LiveBooruWeb.SignInLive %>
<% end %>
