<div class="content">

<h1>Queue</h1>

<table>

<tr>
  <th>Upload Hash</th>
  <th>Source</th>
  <th>Uploader</th>
  <th>Working</th>
  <th>Date</th>
</tr>

<%= for {job, working} <- @queue do %>
<tr>
  <td><%= job.hash %></td>
  <td><%= job.source %></td>
  <td><%= job.user.name %></td>
  <td><%= working %></td>
  <td><%= job.inserted_at %></td>
</tr>
<% end %>
</table>

</div>
