<h1>Changes for <%= live_patch(@tag.name, to: Routes.live_path(@socket, LiveBooruWeb.TagLive, @tag.id)) %></h1>

<table>
  <tr>
    <th>Date</th>
    <th>User</th>
    <th>Description</th>
  </tr>
  <%= for change <- @tag.changes do %>
  <tr>
    <td><%= change.inserted_at %></td>
    <td><%= change.user.username %></td>
    <td><%= change.description %></td>
  </tr>
<% end %>
</table>
