<div class="content">

<h1>Tags</h1>

<table>
<%= for {tag, n} <- @tags do %>
<tr>
  <td><%= tag.id %></td>
  <td><%= live_patch(tag.name, to: Routes.live_path(@socket, LiveBooruWeb.TagLive, tag.id)) %></td>
  <td><%= tag.type %></td>
  <td><%= n %></td>
</tr>
<% end %>
</table>

</div>
