@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Google+Sans:400,500");

.dark {
  @import "dark.scss";
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;

  > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  a {
    color: blue;
  }

  .taglist,
  .tags {
    li {
      gap: 0.25em;

      > * {
        padding: 0 0.125em;
      }

      > *:not(:last-child) {
        margin-right: 0.125em;
      }

      .count {
        color: gray;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    li.meta,
    > a.meta {
      color: #33ccad;
    }

    li.meta_system,
    > a.meta_system {
      color: #33ccad;
    }

    li.copyright,
    > a.copyright {
      color: #77ca24;
    }

    li.character,
    > a.character {
      color: #c5902f;
    }

    li.general,
    > a.general {
      color: #9d35e6;
    }

    li.artist,
    > a.artist {
      color: #e75744;
    }
  }
}

h1,
h2,
h3 {
  font-family: "Google Sans", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  margin: 0 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-family: "Google Sans", sans-serif;
  position: relative;
  overflow-x: auto;
  white-space: nowrap;

  > div:first-child {
    flex: 1;
  }

  > div {
    display: flex;
    align-items: center;

    > a {
      text-decoration: none;
      color: black;
      padding: 0.5em 1em;
      position: relative;
    }

    > a.selected::after {
      width: 100%;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 4px solid lightgreen;
    }
  }
}

.IndexLive {
  main {
    overflow-x: scroll;

    > div {
      min-width: 700px;
    }
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    > div {
      position: relative;

      > a {
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .info {
        flex-wrap: wrap;
        gap: 0 0.5em;
        max-height: 6em;
        overflow-y: auto;
        font-size: small;
        background-color: rgb(250, 250, 250);
        border: 1px solid lightgray;
        padding: 0.5rem;
        border-radius: 0.25rem;
        display: none;
        opacity: 0;
        transform: translateY(0%);
        position: absolute;
        top: 0;
        pointer-events: none;
        animation-fill-mode: forwards;
      }
    }

    @keyframes show {
      from {
        opacity: 0;
        transform: translateY(-50%);
      }
      to {
        pointer-events: inherit;
        z-index: 1;
        opacity: 1;
        transform: translateY(-100%);
      }
    }

    > div:hover {
      .info {
        display: flex;
        animation-name: show;
        animation-duration: 0.2s;
        animation-delay: 0.5s;
      }
    }
  }
}

.ImageLive {
  .main_image {
    max-width: max(100%, 400px);
    max-height: max(calc(100vh - 12rem), 400px);
    cursor: zoom-in;
  }

  #chk_expand:checked + label > .main_image {
    max-width: unset;
    max-height: unset;
    cursor: zoom-out;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .collection {
    display: flex;
    gap: 0.5em;

    .selected {
      border: 1px solid orange;
    }
  }

  img {
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  }

  textarea {
    box-sizing: border-box;
    width: 100%;
    height: 10em;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    max-width: 1400px;
  }

  .comments {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .comment_form {
    > .controls {
      display: flex;
      gap: 0.5em;
    }
  }

  .score {
    display: flex;
    gap: 0.25em;
    align-items: center;
  }

  .icon {
    padding: 0.25rem;
    color: slategrey;
  }

  .up.highlight {
    color: lightgreen;
  }

  .down.highlight {
    color: lightcoral;
  }
}

.comment {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  padding: 0.5em;
  border-radius: 0.25rem;

  > .header {
    /* user */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5em;

    > :first-child {
      flex: 1;
    }
  }

  > .body {
    /* right side */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    > .header {
      display: flex;
      align-items: center;

      > div {
        display: flex;
        gap: 0.5em;
        align-items: center;
      }

      > div:first-child {
        flex: 1;
      }

      .icon {
        font-family: "Material Icons";
        background: none;
        border: none;
        padding: 0.25em;
      }
    }
  }

  > .footer {
    display: flex;
    align-items: center;
    gap: 0.5em;

    > :first-child {
      flex: 1;
    }
  }

  .icon {
    padding: 0.25rem;
    color: slategrey;
  }

  .up.highlight {
    color: lightgreen;
  }

  .down.highlight {
    color: lightcoral;
  }
}

@keyframes comment_highlight {
  from {
    background-color: lightgreen;
  }
  to {
    background-color: rgb(240, 240, 240);
  }
}

.comment:target {
  animation-name: comment_highlight;
  animation-duration: 2s;
  outline: 1px solid lightgrey;
}

.CommentsLive {
  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    > .image {
      display: flex;
      gap: 0.5em;

      > .left img {
        max-width: 200px;
        max-height: 400px;
      }

      .right {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        flex: 1;

        > .info > :not(.tags) {
          gap: 1em;
        }

        > .info > div {
          display: flex;
          flex-wrap: wrap;
          gap: 0 0.5em;
        }

        .comments {
          display: flex;
          flex-direction: column;
          gap: 0.5em;
          border-left: 3px solid lightgray;
          border-radius: 0.25rem;
        }
      }
    }
  }
}

.icon {
  font-family: "Material Icons";
  background: none;
  border: none;
}

button.icon {
  cursor: pointer;
}

input[type="submit"],
input[type="text"],
input:not([type]),
button {
  padding: 0.5rem;
}

input,
button {
  border-radius: 0.25rem;
}

input {
  border: 1px solid gray;
}

input[type="file"] {
  border: none;
}

button {
  border: 1px solid darkgray;
}

.search,
.SearchLive {
  padding: 0.5em;

  form {
    display: flex;
    gap: 0.5em;

    input {
      flex: 1;
      border: 1px solid lightgrey;
    }
  }
}

.TagLive {
  textarea {
    width: 100%;
    height: 20em;
  }
}

.UserLive,
.SignUpLive,
.SignInLive,
.UploadLive,
.ImageEditLive,
.TagLive {
  .content {
    padding: 1em;
    width: 1000px;
    max-width: calc(100% - 2em);
    align-self: center;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    h3 {
      margin: 0.5em 0;
    }

    h3:not(:first-child) {
      margin-top: 1em;
    }
  }
}

.UploadLive,
.ImageEditLive {
  .suggestions,
  .tags {
    > button {
      display: flex;
      align-items: center;
      gap: 0.5em;
      padding: 0.5em;
      cursor: pointer;
      border: none;
      border-radius: 100vh;
      background-color: rgb(230, 230, 230);
    }

    > button:hover {
      background-color: rgb(240, 240, 240);
    }

    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }
}

.SignUpLive,
.SignInLive,
.UploadLive,
.ImageEditLive,
.TagLive {
  .content {
    form {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      section {
        border: 1px solid black;
        border-radius: 0.25rem;
        padding: 1em;
      }

      > div {
        display: flex;
        gap: 0.5em;

        input:not([type="checkbox"]) {
          flex: 1;
        }
      }
    }
  }

  figure {
    margin: 0;

    img {
      max-width: 100%;
    }
  }

  .upload-entry > div {
    display: flex;
    gap: 0.5em;

    progress {
      flex: 1;
    }
  }

  .tags {
    > button::before {
      content: "close";
      font-family: "Material Icons";
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;

  > .middle {
    display: flex;
    flex: 1;

    > .sidebar {
      flex-shrink: 0;
      width: 14em;
      overflow-x: hidden;
      word-wrap: break-word;
      padding: 1em;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      overflow-y: auto;

      h3 {
        margin: 0;
      }

      h3:not(:first-child) {
        margin-top: 1em;
      }

      ul {
        margin: 0;
        padding: 0;
      }

      li {
        list-style-type: none;
      }
    }
  }

  .content {
    flex: 1;
    padding: 1em;
    box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.2);
  }
}

.sidebar {
  li {
    font-size: 0.9rem;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }
}

span > form {
  display: inline-flex;
}

.alert {
  padding: 1em;
  margin: 1em;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

table {
  th {
    text-align: left;
  }
}

.UserLive {
  table {
    border-spacing: 0.5em;
  }
}

.ImageChangesLive {
  .content {
    table.results {
      width: 100%;
    }

    .changed_tags {
      .added {
        color: green;
      }
      .removed {
        color: red;
      }
    }
  }
}

.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  gap: 0.25em;

  > span {
    border: 1px solid transparent;
  }

  > a {
    text-decoration: none;
    border: 1px solid lightgray;
  }

  > a:hover {
    background-color: rgba(152, 251, 152, 0.5);
  }

  > a:active {
    background-color: palegreen;
  }

  > * {
    padding: 0.25em 0.5em;
    border-radius: 0.25rem;
  }
}

.TagLive {
  .tree {
    .category::after {
      content: " (Category)";
    }
  }
}
