@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Google+Sans:400,500");

html,
body {
  min-width: 700px;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;

  > div {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

nav {
  display: flex;
  align-items: center;
  margin: 0 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-family: "Google Sans", sans-serif;
  position: relative;

  > div:first-child {
    flex: 1;
  }

  > div {
    display: flex;
    align-items: center;

    > a {
      text-decoration: none;
      color: black;
      padding: 0.5em 1em;
      position: relative;
    }

    > a.selected::after {
      width: 100%;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 4px solid lightgreen;
    }
  }
}

.IndexLive {
  .images {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    > a {
      width: 200px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;

      > img {
        border: 1px solid black;
      }
    }
  }
}

.ImageLive {
  .main_image {
    max-width: max(100%, 400px);
    max-height: max(calc(100vh - 12rem), 400px);
    cursor: zoom-in;
  }

  #chk_expand:checked + label > .main_image {
    max-width: unset;
    max-height: unset;
    cursor: zoom-out;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .collection {
    display: flex;
    gap: 0.5em;

    .selected {
      border: 1px solid orange;
    }
  }

  img {
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  }

  textarea {
    box-sizing: border-box;
    width: 100%;
    height: 10em;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    max-width: 1400px;
  }

  .comments {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

  .comment_form {
    > .controls {
      display: flex;
      gap: 0.5em;
    }
  }

  .score {
    display: flex;
    gap: 0.25em;
    align-items: center;
  }

  .icon {
    padding: 0.25rem;
    color: slategrey;
  }

  .up.highlight {
    color: lightgreen;
  }

  .down.highlight {
    color: lightcoral;
  }
}

.comment {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  padding: 0.5em;
  border-radius: 0.25rem;

  > .header {
    /* user */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5em;

    > :first-child {
      flex: 1;
    }
  }

  > .body {
    /* right side */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    > .header {
      display: flex;
      align-items: center;

      > div {
        display: flex;
        gap: 0.5em;
        align-items: center;
      }

      > div:first-child {
        flex: 1;
      }

      .icon {
        font-family: "Material Icons";
        background: none;
        border: none;
        padding: 0.25em;
      }
    }
  }

  > .footer {
    display: flex;
    align-items: center;
    gap: 0.5em;

    > :first-child {
      flex: 1;
    }
  }

  .icon {
    padding: 0.25rem;
    color: slategrey;
  }

  .up.highlight {
    color: lightgreen;
  }

  .down.highlight {
    color: lightcoral;
  }
}

@keyframes comment_highlight {
  from {
    background-color: lightgreen;
  }
  to {
    background-color: rgb(240, 240, 240);
  }
}

.comment:target {
  animation-name: comment_highlight;
  animation-duration: 2s;
  outline: 1px solid lightgrey;
}

.CommentsLive {
  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}

.icon {
  font-family: "Material Icons";
  background: none;
  border: none;
}

button.icon {
  cursor: pointer;
}

input,
button[type="submit"] {
  padding: 0.5rem;
  border-radius: 0.25rem;
}

input {
  border: 1px solid gray;
}

input[type="file"] {
  border: none;
}

button {
  border: 1px solid darkgray;
}

.search,
.SearchLive {
  padding: 0.5em;

  form {
    display: flex;
    gap: 0.5em;

    input {
      flex: 1;
      border: 1px solid lightgrey;
    }
  }
}

.TagLive {
  textarea {
    width: 100%;
    height: 20em;
  }
}

.SignUpLive,
.SignInLive,
.UploadLive,
.ImageEditLive,
.TagLive {
  .content {
    padding: 1em;
    width: 1000px;
    max-width: calc(100% - 2em);
    align-self: center;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    h3 {
      margin: 0.5em 0;
    }

    h3:not(:first-child) {
      margin-top: 1em;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      section {
        border: 1px solid black;
        border-radius: 0.25rem;
        padding: 1em;
      }

      > div {
        display: flex;
        gap: 0.5em;

        input:not([type="checkbox"]) {
          flex: 1;
        }
      }
    }
  }

  figure {
    margin: 0;

    img {
      max-width: 100%;
    }
  }

  .upload-entry > div {
    display: flex;
    gap: 0.5em;

    progress {
      flex: 1;
    }
  }

  .tags {
    > button::before {
      content: "close";
      font-family: "Material Icons";
    }
  }

  .suggestions,
  .tags {
    > button {
      display: flex;
      align-items: center;
      gap: 0.5em;
      padding: 0.5em;
      cursor: pointer;
      border: none;
      border-radius: 100vh;
      background-color: rgb(230, 230, 230);
    }

    > button:hover {
      background-color: rgb(240, 240, 240);
    }

    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;

  > .middle {
    display: flex;
    flex: 1;

    > .sidebar {
      flex-shrink: 0;
      width: 14em;
      overflow-x: hidden;
      word-wrap: break-word;
      padding: 1em;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      overflow-y: auto;

      h3 {
        margin: 0;
      }

      h3:not(:first-child) {
        margin-top: 1em;
      }

      ul {
        margin: 0;
        padding: 0;
      }

      li {
        list-style-type: none;
      }
    }
  }

  .content {
    flex: 1;
    padding: 1em;
    box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.2);
  }
}

.taglist {
  li {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;
    font-size: 0.9rem;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  li.meta {
    color: #33ccad;
  }

  li.meta_system {
    color: #33ccad;
  }

  li.copyright {
    color: #77ca24;
  }

  li.character {
    color: #c5902f;
  }

  li.general {
    color: #9d35e6;
  }

  li.artist {
    color: #e75744;
  }
}

.alert {
  padding: 1em;
  margin: 1em;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

table {
  th {
    text-align: left;
  }
}
