a {
  color: skyblue;
}

& {
  --background: rgb(30, 30, 30);
  --foreground: gainsboro;
  --input-background: rgb(36, 36, 36);
  --highlight: rgb(56, 56, 56);
  --green: mediumseagreen;
  --noise: url(#noise_dark);
}

> div {
  nav {
    a {
      color: gainsboro;
    }

    a.selected {
      color: whitesmoke;
    }

    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .search input {
    background-color: rgb(36, 36, 36);
    border: 1px solid gray;
    color: gainsboro;
  }

  .comment {
    background-color: rgb(40, 40, 40);
    color: gainsboro;
  }
}

.ImageLive {
  .comment_form {
    textarea {
      background-color: rgb(40, 40, 40);
      color: gainsboro;
      border: 1px solid gray;
    }
  }
}

.IndexLive {
  .pages {
    a {
      border: 1px solid gray;
    }
  }

  .images {
    > div {
      .info {
        background-color: rgb(36, 36, 36);
        border-color: dimgray;
      }
    }
  }
}

.UploadLive,
.ImageEditLive {
  .suggestions,
  .form_tags .tags {
    > button {
      background-color: rgb(48, 48, 48);
      color: lightgray;
    }

    > button:hover {
      background-color: rgb(64, 64, 64);
    }
  }
}
