input:not([type]),
input[type="text"] {
  background-color: rgb(36, 36, 36);
  color: whitesmoke;
}

> div {
  background-color: rgb(30, 30, 30);
  color: whitesmoke;

  nav {
    a {
      color: whitesmoke;
    }

    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  a {
    color: skyblue;
  }

  .search input {
    background-color: rgb(36, 36, 36);
    border: 1px solid gray;
    color: whitesmoke;
  }

  .comment {
    background-color: rgb(40, 40, 40);
    color: whitesmoke;
  }
}

.ImageLive {
  .comment_form {
    textarea {
      background-color: rgb(40, 40, 40);
      color: whitesmoke;
      border: 1px solid gray;
    }
  }
}

.IndexLive {
  .pages {
    a {
      border: 1px solid gray;
    }
  }

  .images {
    > div {
      .info {
        background-color: rgb(36, 36, 36);
        border-color: dimgray;
      }
    }
  }
}

.UploadLive,
.ImageEditLive {
  .suggestions,
  .tags {
    > button {
      display: flex;
      align-items: center;
      gap: 0.5em;
      padding: 0.5em;
      cursor: pointer;
      border: none;
      border-radius: 100vh;
      background-color: rgb(48, 48, 48);
      color: lightgray;
    }

    > button:hover {
      background-color: rgb(64, 64, 64);
    }

    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }
}